*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    padding: 15px;
    border-radius: 14px;
    border: none;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: aqua;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
}
.item{
    padding: 20px;
    
}
.btncon{
    text-align: center;
    padding: 20px;
    color: black;
}
.logo{
    text-align: center;
    width: 100%;
    font-size:20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
    
}
.container{
    display: flex;
    width: 60%;
    
    justify-content: center;
    align-items: center;   
}
.yellow{
background-color: rgb(163, 163, 58);
width: 40%;
height: 40%;
flex-wrap: wrap;
border-top-left-radius: 10px;
border-bottom-left-radius:10px ;
color: black;
font-size: 18px;


}
.blue{
background-color:rgb(46, 122, 119);
width: 40%;
height: 40%;
color: white;
font-size: 18px;
flex-wrap: wrap;

}
.darkblue{
background-color: rgb(56, 56, 163);
width: 40%;
height: 40%;
flex-wrap: wrap;
border-top-right-radius: 10px;
border-bottom-right-radius:10px ;
color: black;
font-size: 18px;
}
.maingrid{
    background-color: aqua;
    width: 50%;
gap: 4px;
display: grid;

}
.submaingrid{
    /* background-color: orange; */
    display: flex;
gap: 4px;

    /* grid-template-rows: 100px; */
    
    

}
.submainone{
    background-color: brown;
    width: 350px;
    height: 150px;


}
.submaintwo{
    background-color: darkgoldenrod;
    width: 150px;
    height: 150px;

}
.submainthree{
display: flex;
gap: 4px;
    

}
.submainfour{
    background-color: green;
    width: 200px;
    height: 150px;
    

}

.submainmainone{
    /* background-color: turquoise; */
    display: grid;
gap: 2px;
    
}
.submainmaintwo{
    background-color: blue;
    width: 300px;
    height: 75px;
    
   


}
.submainmainthree{
    background-color: blue;
    width: 300px;
    height: 75px;

}